<!-- <div class="content-wrapper"> -->
<div class="container-fluid">
  <img class="nav-img" style="float: left;" src="assets/images/home.png" alt="">
  <img class="nav-img" style="float: right" src="assets/images/profile-user.png" alt="">

  <div class="card-body p-4">
    <div class="p-3">
      <div class="user-thumb text-center mb-4">
        <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">
        <!-- <h5 class="font-size-15 mt-3">Patricia Smith</h5> -->
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">




  <!-- Icon Cards-->
  <div class="table">

    <!--Table-->
    <table class="table table-dark table-bordered">

      <!--Table head-->
      <thead>
        <tr>
          <th class="th-lg" colspan="2">#</th>



        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Lorem ipsum dolor</td>


        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Lorem ipsum dolor</td>


        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Lorem ipsum dolor</td>


        </tr>
      </tbody>
      <!--Table body-->

    </table>
    <!--Table-->

  </div>



</div>

