html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    overflow-x: hidden;
    font-family: lato;
    background-color: #EEEEEE;
  }
  

  .badge {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }

  .topnav-right {
    float: none;
    display: block;
  }
  .topnav-right {
    float: right;
  }

  /* .logo{
      position: relative;
      padding-left: 40rem;
      z-index: 1000;
  } */

  .textside {
    margin-left: 25px;
  }
  
  
  
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #FFFFFF;
    height: 60px;
    color: white;
  }
  
  
  
  a {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  a:hover {
    color: #7D7D7D;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  .inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 125px;
  }
  
  .rideone img {
    width: 70%;
  }
  
  .ridetwo img {
    width: 60%;
  }
  
  .ridethree img {
    width: 50%;
  }
  
  .rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .fontsty {
    margin-right: -15px;
    vertical-align: center;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 35px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 25px;
    margin-top: 45px;
    text-align: center;

    margin-right: 30px;
  }
  
  .content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 4rem;
    overflow-x: hidden;
    background: transparent;
  }
  
  #mainNav .navbar-collapse {
    overflow: auto;
    max-height: 75vh;
  }
  
  #mainNav .navbar-collapse .navbar-sidenav li:hover{
   
  }
  
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
  }
  
 
  .nav-item img{
    width: 3rem;
    height: 3rem;
  }
  
  
  .content-wrapper {
    margin-left: 0px;
    margin-right: 25px;
    /* margin-top: 35px; */
    /* padding-top: 1px; */
  }
  
  }
  
  @media screen and (max-device-width: 640px) { 
  
  .navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: #E84A5F;
    background: #E84A5F;
  }
  
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #262625;
    height: 80vh;
  }
  
  .navbar-nav2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #262625;
    height: 18vh;
  }
  
  

  }

  .dropdown-item{
    padding-left: 1%;
  }

  .nav-img{
    height: 3rem;
    width: 3rem;
    margin: 10px;
  }
