<img class="nav-img" style="float: left;" src="assets/images/home.png" alt="">


<div class="content-wrapper">
  <div class="container-fluid">
    <div class="">
      <div class="card-body p-4">
        <div class="p-3">
          <div class="user-thumb text-center mb-4">
            <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">
            <!-- <h5 class="font-size-15 mt-3">Patricia Smith</h5> -->
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">




      <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <a [routerLink]="[ '/user', 1 ]">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                <img src="assets/images/information.png">

              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>My Informations</h4>
                <!-- <h4>20</h4> -->
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <a [routerLink]="[ '/profiles', 1 ]">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                <img src="assets/images/profile-user.png">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                <h4>QR code profiles</h4>
                <!-- <h2>120</h2> -->
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
        <a [routerLink]="[ '/chat', 1 ]">
          <div class="inforide">

            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                <span class="badge">3</span>
                <img src="assets/images/email.png">



              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">



                <h4>Messages</h4>
                <!-- <h2>50</h2> -->
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
