<div class="container-fluid">
  <img class="nav-img" style="float: left;" src="assets/images/home.png" alt="">
  <img class="nav-img" style="float: right" src="assets/images/profile-user.png" alt="">

  <div class="card-body p-4">
    <div class="p-3">
      <div class="user-thumb text-center mb-4">
        <img src="assets/images/users/avatar-1.jpg" class="rounded-circle img-thumbnail avatar-lg" alt="thumbnail">
        <!-- <h5 class="font-size-15 mt-3">Patricia Smith</h5> -->
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">




  <!-- Icon Cards-->
  <div class="table">

    <!--Table-->
    <table class="table table-dark table-bordered">

      <tr>
        <th class="th-lg" rowspan="3"></th>
        <td class="th-lg"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <!-- ######################################################## -->
      <tr>
        <th rowspan="3"></th>
        <td>555 77 854</td>
        <td>555 77 854</td>
      </tr>
      <tr>
        <td>555 77 854</td>
        <td>555 77 854</td>
      </tr>
      <tr>
        <td>555 77 854</td>
        <td>555 77 855</td>
      </tr>

    </table>
    <!--Table-->

  </div>

</div>

